<h3 class='m-4'>按鈕</h3>
<ol class='m-2 flex items-center'>
  <li class='m-2'><%= link_to '新增', '#', class: 'p-2 rounded-md border border-blue-300 bg-blue-200 hover:bg-blue-300' %></li>
  <li class='m-2'><%= link_to '編輯', '#', class: 'p-2 rounded-md border border-amber-300 bg-amber-200 hover:bg-amber-300' %></li>
  <li class='m-2'><%= link_to '刪除', '#', class: 'p-2 rounded-md border border-red-300 bg-red-200 hover:bg-red-300' %></li>
</ol>
